
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box1{
    background-color:black;
    position:relative;
    flex: 1;
    min-width: 100px;
    height: 350px;
    margin: 10px;
    border-radius: 5px;
    transition: 1s;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.box1:hover{
    transform: scale(1);
    background-color: red;
}
.header{
    transition: 1s;
    background: black;
}
.header:hover{
    background-color: red;
    border-radius: 2px;
}
.box1 h3{
    text-decoration: underline;
}
.card-body{
    transition: 1s;
    background: black;
}
.card-body:hover{
    transform: scale(1);
    background: red
}
.card{
    transition: 1s;
}
.card:hover{
    transform: scale(1);
    background: red;
}
.media{
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
    

}